@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Degular';
        font-weight: 300;
        src: url('../../public/assets/fonts/Degular-Light.otf') format('opentype');
    }
    @font-face {
        font-family: 'Degular';
        font-weight: 400;
        src: url('../../public/assets/fonts/Degular-Regular.otf') format('opentype');
    }
    @font-face {
        font-family: 'Degular';
        font-weight: 500;
        src: url('../../public/assets/fonts/Degular-Medium.otf') format('opentype');
    }
    @font-face {
        font-family: 'Degular';
        font-weight: 600;
        src: url('../../public/assets/fonts/Degular-SemiBold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Degular';
        font-weight: 700;
        src: url('../../public/assets/fonts/Degular-Bold.otf') format('opentype');
    }
    @font-face {
        font-family: 'Degular';
        font-weight: 900;
        src: url('../../public/assets/fonts/Degular-Black.otf') format('opentype');
    }
    @font-face {
        font-family: 'Acumin Pro';
        font-weight: 400;
        src: url('../../public/assets/fonts/Acumin-RPro.otf') format('opentype');
    }
    @font-face {
        font-family: 'Acumin Pro';
        font-weight: 700;
        src: url('../../public/assets/fonts/Acumin-BdPro.otf') format('opentype');
    }
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 224, 224, 219;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --foreground-rgb: 224, 224, 219;
        --background-rgb: 0, 0, 0; */
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

.text-v {
    writing-mode: vertical-rl;
}
